## import important library

In [73]:
import pandas as pd
from sklearn import linear_model

In [76]:
df = pd.read_csv(r"C:\Users\Prince\OneDrive\Documents\multiclass_regression_problem.csv") #load data

In [75]:
df = df.drop(['Unnamed: 0'],axis =1)  #clean the data

In [55]:
#data preprocessing
df = df.rename(columns = {'  test_score(out of 10)':"test_score"})

In [56]:
df = df.rename(columns={'interview_score(out of 10)':"interview_score"})

In [57]:
df = df.rename(columns = {"salary($)":"salary"})

In [77]:
df.experience = df.experience.fillna("zero")

## import word to number module

In [59]:
from word2number import w2n

In [60]:
df.experience = df.experience.apply(w2n.word_to_num)

In [61]:
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         NaN                7   72000
7          11         7.0                8   80000

In [62]:
import math           #import math for median floor value
median = math.floor(df.test_score.median())

In [63]:
df.test_score = df.test_score.fillna(median)

In [64]:
df            #final clean and processed data

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [65]:
rg = linear_model.LinearRegression()         #linearRegression object

In [67]:
rg.fit(df[["experience","test_score","interview_score"]],df.salary)       #fit the data

LinearRegression()

In [68]:
rg.predict([[12,10,10]])     #predict daa

array([92002.18340611])